.row
  .small-12.columns
    #logo
      = image_tag 'http://d2b5z4qak7c6da.cloudfront.net/pretsails.png'
      %h1.carrois PRETSAILS
  .small-12.columns.splash
    = image_tag 'http://d2b5z4qak7c6da.cloudfront.net/splash.jpg'
    %h3.baskerville{style: 'display:none'} Snacks for Sailing
.row.pretzels
  .small-12.columns.centered
    %h1.carrois.lt-grey PRETZELS
  .small-12.columns
    .small-6.large-3.columns
      = image_tag 'http://d2b5z4qak7c6da.cloudfront.net/pretzel.jpg'
      %h4.carrois
        %span.left BOWLINE
        %span.right $25
      %p.baskerville{style: 'color: #777'} Agean Sea Salt
    .small-6.large-3.columns
      = image_tag 'http://d2b5z4qak7c6da.cloudfront.net/pretzel.jpg'
      %h4.carrois
        %span.left CLOVE HITCH
        %span.right $10
      %p.baskerville{style: 'color: #777'} East Bay Sea Salt
    .small-6.large-3.columns
      = image_tag 'http://d2b5z4qak7c6da.cloudfront.net/pretzel.jpg'
      %h4.carrois
        %span.left FIGURE EIGHT
        %span.right $15
      %p.baskerville{style: 'color: #777'} Black Sea Salt
    .small-6.large-3.columns
      = image_tag 'http://d2b5z4qak7c6da.cloudfront.net/pretzel.jpg'
      %h4.carrois
        %span.left SQUARE KNOT
        %span.right $20
      %p.baskerville{style: 'color: #777'} Mediterranean Sea Salt
.row.footer
  .show-for-medium-up
    .medium-8.columns.left-side
      = image_tag 'http://d2b5z4qak7c6da.cloudfront.net/pretsails.png'
      .caption
        %h1.carrois PRETSAILS
        %p Handcrafted Pretzels for Yachtsmen
    .medium-4.columns.show-for-medium-up
      .links
        = link_to 'Facebook', 'http://facebook.com/pretsails'
        = link_to 'Twitter', 'https://twitter.com/pretsails'
  .small-12.columns.centered.show-for-small-only
    = link_to 'Facebook', 'http://facebook.com/pretsails'
    = link_to 'Twitter', 'https://twitter.com/pretsails'
