.row
  .small-12.columns
    #logo
      = image_tag 'http://d2b5z4qak7c6da.cloudfront.net/pretsails.png'
      %h1.carrois PRETSAILS
  .small-12.columns.splash
    = image_tag 'http://d2b5z4qak7c6da.cloudfront.net/splash.jpg'
    %h3.baskerville{style: 'display:none'} Snacks for Sailing
.row.pretzels
  .small-12.columns.centered
    %h1.carrois.lt-grey PRETZELS
  .small-12.columns
    - @pretzels.each do |pretzel|
      .small-6.large-3.columns
        = link_to pretzel do
          = image_tag pretzel.image_url
          %h4.carrois
            %span.left= pretzel.name
            %span.right= number_to_currency(pretzel.price, precision: 0)
          %p.baskerville{style: 'color: #777'}= pretzel.salt
.row.footer
  .show-for-medium-up
    .medium-8.columns.left-side
      = image_tag 'http://d2b5z4qak7c6da.cloudfront.net/pretsails.png'
      .caption
        %h1.carrois PRETSAILS
        %p Handcrafted Pretzels for Yachtsmen
    .medium-4.columns.show-for-medium-up
      .links
        = link_to 'Facebook', 'http://facebook.com/pretsails'
        = link_to 'Twitter', 'https://twitter.com/pretsails'
  .small-12.columns.centered.show-for-small-only
    = link_to 'Facebook', 'http://facebook.com/pretsails'
    = link_to 'Twitter', 'https://twitter.com/pretsails'
